.text-center {
    color: #ffffff;
    background-image: URL("https://www.seriouseats.com/images/2016/10/20150923-Thanksgiving-spread-vicky-wasik-001.jpg");
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

  