body {
  color: #671207;
  background-color: #9bf1fc;
  background-image: "../AppImages/Food.jpg";
}

#navbar-brand {
  background-color: black;
}

Jumbotron {
  color: #9bf1fc;
  background-color: #671207;
}

.text-center {
  color: #9bf1fc;
  background-color: #671207;
}

.btn-margin {
  margin: 10px 5px;
}